<form class="py-6 px-4 sm:p-6 lg:pb-8 h-3/4 | heigth-password ">
  <h2 class="pb-3 sm:pb-4 lg:pb-6">Change your Password</h2>
  <div >
    <label for="password" class="block text-sm font-medium text-gray-700">
      Current Password
    </label>
    <div class="mt-1">
      <input id="password" formControlName="password" name="password" type="password" autocomplete="current-password"
      required
      class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      <p class="text-rose-700 text-sm">Campo Requerido</p>
    </div>
  </div>

  <div>
    <label for="password" class="block text-sm font-medium text-gray-700">
      New Password
    </label>
    <div class="mt-1">
      <input id="newPassword" formControlName="newPassword" name="newPassword" type="password"
      autocomplete="current-password" required
      class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      <p class="text-rose-700 text-sm">Campo Requerido</p>
    </div>
  </div>

  <div>
    <label for="password" class="block text-sm font-medium text-gray-700">
      Reapeat new password
    </label>
    <div class="mt-1">
      <input id="repeatPassword" formControlName="repeatPassword" name="repeatPassword" type="password"
        autocomplete="current-password" required
        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      <p class="text-rose-700 text-sm">Campo Requerido</p>
    </div>
  </div>

  <div>
    <button type="submit"
    class="w-auto flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mt-6 mx-auto">
    Change Password
    </button>
  </div>

</form>
