<app-header></app-header>

<div class="container mx-auto px-4 sm:px-6 lg:px-8">
  <h1 class="text-3xl font-extrabold sm:text-4xl text-center md:py-12 py-6 | bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 via-indigo-600 to-indigo-800"> Bienvenido a Plaza Frontend</h1>


  <section class="bg-white overflow-hidden">
    <div class="relative max-w-7xl mx-auto pt-20 pb-12 px-4 sm:px-6 lg:px-8 lg:py-20 .pattern">


      <!-- pattern 1 mobile-->

      <svg class="absolute top-full left-0 transform translate-x-96 -translate-y-24 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
        <defs>
          <pattern id="e56e3f81-d9c1-4b83-a3ba-0d0ac8c32f32" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-indigo-200 " fill="currentColor" />
          </pattern>
        </defs>
        <rect width="784" height="404" fill="url(#e56e3f81-d9c1-4b83-a3ba-0d0ac8c32f32)" />
      </svg>


      <!-- patter 1 desktop -->
      <svg class="hidden lg:block absolute right-full top-1/2 transform translate-x-1/2 -translate-y-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
        <defs>
          <pattern id="56409614-3d62-4985-9a10-7ca758a8f4f0" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class=" text-indigo-300" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#56409614-3d62-4985-9a10-7ca758a8f4f0)" />
      </svg>

      <div class="relative lg:flex lg:items-center">
        <div class="hidden lg:block lg:flex-shrink-0">
          <img class="h-64 w-64 rounded-full xl:h-80 xl:w-80" src="https://avatars0.githubusercontent.com/u/39868803?s=460&u=da8e6df1971b2bc93d52bd1a17de7821bdb04e61&v=4" alt="">
        </div>

        <div class="relative lg:ml-10">
          <blockquote class="relative">
            <div class="text-2xl leading-9 font-medium text-gray-900">
              <p>
                Hola. soy amante a la tecnologia web. Siempre me ha gustado aprender cosas utiles que me ayuden a <span class="font-medium text-indigo-600">facilitar</span> mi dia a dia. Comenze mi camino como desarrollador web hace 2 años un camino confuzo lleno de muchas dudaspero sobre todo lleno de entusiamo por aprender y ser parte de algo. en mi blog te compartire trucos que me hubiese gustado saber cuando comenze. y cosas que voy aprendiendo sobre la marcha
              </p>
            </div>
            <footer class="mt-8">
              <div class="flex">
                <div class="flex-shrink-0 lg:hidden">
                  <img class="h-12 w-12 rounded-full" src="https://avatars0.githubusercontent.com/u/39868803?s=460&u=da8e6df1971b2bc93d52bd1a17de7821bdb04e61&v=4" alt="">
                </div>
                <div class="ml-4 lg:ml-0">
                  <div class="text-base font-medium text-gray-900">Ramón Martinez</div>
                  <div class="text-base font-medium text-indigo-600">Desarrollador Frontend Angular</div>
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>



  <div class="bg-white">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
        <div>
          <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
           Mis Herramientas de Desarrollo Web
          </h2>
          <p class="mt-3 max-w-3xl text-lg text-gray-500">
            Durante estos 2 años aprendí a usar las siguientes tecnologias y mucho mas. Pero mi preferida es <span class="text-red-600 font-bold">Angular</span>
          </p>
        </div>
        <div class="mt-8 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-0 lg:grid-cols-2">
          <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50 |  transform duration-300 ease-out hover:-translate-y-2 | cursor-pointer">
            <img class="max-h-16" src="assets/icon-technology/angular_icon.png" alt="angular_icon">
          </div>

          <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50  transform duration-300 ease-out hover:-translate-y-2 | cursor-pointer">
            <img class="max-h-16" src="assets/icon-technology/js_icon.png" alt="js_icon">
          </div>

          <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50 | transform duration-300 ease-out hover:-translate-y-2 | cursor-pointer">
            <img class="max-h-16" src="assets/icon-technology/vue_icon.png" alt="vue_icon">
          </div>

          <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50  transform duration-300 ease-out hover:-translate-y-2 | cursor-pointer">
            <img class="max-h-16" src="assets/icon-technology/docker_icon.png" alt="docker_icon">
          </div>
          <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50  transform duration-300 ease-out hover:-translate-y-2 | cursor-pointer">
            <img class="max-h-16" src="assets/icon-technology/html_icon.png" alt="html_icon">
          </div>
          <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50  transform duration-300 ease-out hover:-translate-y-2 | cursor-pointer">
            <img class="max-h-16" src="assets/icon-technology/css_icon.png" alt="css_icon">
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-2xl text-center font-bold">Solo Elegí 1 ó los tres</h2>

  <div class="sm:flex flex-col lg:flex-row items-center">

    <div class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4">
      <img src="assets/boys.png" alt="boys">
    </div>

    <div>
      <h4 class="text-2xl font-bold text-red-600">Solo elegimos las tecnologia mas comoda para nosotros </h4>
      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="">
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
          <div class="grid grid-cols-3 gap-8">

            <div class="col-span-1 flex justify-center">
              <img class="h-16" src="assets/icon-technology/angular_icon.png" alt="angular_icon">
            </div>

            <div class="col-span-1 flex justify-center">
              <img class="h-16" src="assets/icon-technology/react_icon.png" alt="react_icon">
            </div>

            <div class="col-span-1 flex justify-center">
              <img class="h-16" src="assets/icon-technology/vue_icon.png" alt="vue_icon">
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>



